.DS_Store
.github
.gitmodules
.gitattributes
.jshintrc
.npmignore
.npmrc
.tscache
.tslintrc
.vs
.vscode
*.tgz
npm-debug.log
package-lock.json
tsconfig-common.json
tslint.json
/build/
/scripts/
/src/
/samples/
/test/
